.projectcontainer-wrapper {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-image-container{
    position: relative;
}

.image-hover {
    background-color: black;
    position: absolute;
    width: inherit;
    height: 200px;
}
.projectimage-container {
    display: grid;
  }
  
.project-image, .overlay {
    grid-area: 1 / 1;
    transition: 0.2s;
    border-radius: 15px;
    /* background-color: black; */
    /* opacity: 0.5; */
}

.project-source-image {
    border-radius: 15px;
    border: 1px solid black;
}


.overlay {
    opacity: 0;
    background-color: black;
    color: white;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay:hover {
    /* @media (max-width: 760px) {
        opacity: 0;
    } */
    opacity: 0.75;
}

#a:hover + #b {
    opacity: 0;
}

.overlay:hover .project-description {
    opacity: 1;
}

.project-line {
    border: 0.5px solid #7F0019;
    width: 50%;
    position: absolute;
    bottom: 100px;
    left: 0;
}

.project-detail-container {
    display: block;
    justify-content: start;

}

.project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.project-detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 24px;
    
}

.project-index {
    font-size: 36px;
    font-weight: bold;
    color: #7F0019;
}

.project-title {
    font-size: 40px;
    font-weight: bold;
}

.project-date {
    font-size: 20px;

}

.project-title-display {
    position: absolute;
    bottom: 130px;
    left: 90px;
    font-size: 36px;
    font-weight: bold;
    color: #ba0025;
    transition: 0.2s;
}

.project-line-container {
    /* display: flex; */
    align-items: flex-start;
    justify-content: start;
}

.project-tech {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.project-buttons {
    display: flex;
    margin-left: 24px;
}


.project-button-container {
    display: flex;
    /* background-color: #7F0019; */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.individ-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    background-color: #7F0019;
    width: 120px;
    height: 50px;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.2s;
}

.project-button-title {
    color: #CDB297;
    font-weight: bold;
}

.project-button-text {
    color: #CDB297;
}

.individ-button:hover {
    background-color: #4d000f;
    scale: 1.05;
    /* color: white; */
}

.individ-button:hover .project-button-title {
    color: white;
}

.individ-tech {
    margin-top: 30px;
    margin-left: 24px;
}


@media (max-width: 760px) {
    .project-source-image {
        width: 80%;
        height: auto;
    }
    .project-image, .overlay {
        /* margin-left: 20%;
        margin-right: 20%; */
    }

    .overlay:hover {
        opacity: 0;
    }
    #a:hover + #b {
        opacity: 1;
    }

    .project-image {
        margin-top: 30px;
    }

    .project-detail {
        margin-left: 36px;
    }

}