.projectcontainer-wrapper {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-image-container{
    position: relative;
}

.image-hover {
    background-color: black;
    position: absolute;
    width: inherit;
    height: 200px;
}
.projectimage-container {
    display: grid;
  }
  
.project-image, .overlay {
    grid-area: 1 / 1;
    transition: 0.2s;
    border-radius: 15px;
    /* background-color: black; */
    /* opacity: 0.5; */
}

.project-source-image {
    border-radius: 15px;
}


.overlay {
    opacity: 0;
    background-color: black;
    color: white;
}


.overlay:hover {
    opacity: 1;
}

.project-line {
    border: 0.5px solid #7F0019;
    width: 100%;
    position: absolute;
    bottom: 100px
}

@media (max-width: 760px) {
    .project-source-image {
        width: 80%;
        height: auto;
    }
    .project-image, .overlay {
        /* margin-left: 20%;
        margin-right: 20%; */
    }
}